.display div {
  border: 2px solid #f700ff;
  background-color: plum;
  padding: 10px;
  width: 200px;
}

.c-inline div {
  display: inline;
}

.c-block div {
  display: block;
}

.c-inline-block div {
  display: inline-block;
}

.c-none div {
  display: inline-block;
}

#div-none {
  display: none;
}
